<div id="<%= dom_id element %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= element.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= element.code %>
  </p>

</div>
