<div class="hero">
  <h1>Enhance Your Aviation Skills</h1>
  <p>Dedicated to reducing the number of accidents in general aviation by helping pilots, instructors, and flight schools train to be more proficient by practicing life-saving maneuvers regularly.</p>
  <%= link_to "Get Started", new_registration_path, class: "button" %>
</div>
<div class="features">
  <div class="feature grid grid-rows-3 gap-4">
    <div class="row-span-1">
      <h3>For Pilots</h3>
      <hr/>
    </div>
    <p class="row-span-2">Improve your skills and stay current with regular practice of critical maneuvers.</p>
  </div>
  <div class="feature grid grid-rows-3 gap-4">
    <div class="row-span-1">
      <h3>For Instructors</h3>
      <hr/>
    </div>
    <p class="row-span-2">Provide your students with the best training to ensure their safety and proficiency.</p>
  </div>
  <div class="feature grid grid-rows-3 gap-4">
    <div class="row-span-1">
      <h3>For Flight Schools</h3>
      <hr/>
    </div>
    <p class="row-span-2">Enhance your curriculum with a focus on safety and proficiency in life-saving maneuvers.</p>
  </div>
</div>
